.header-text {
  font-size: 50px;
  font-weight: bold;
}

.nav-bar-text {
  font-size: 20px;
}

.list-group-item.active {
  background-color: #9aba91;
  border-color: #9aba91;
}


.list-group-item {
  border-width: 2px;
}

.wd-flex-row {
  display: flex;
  flex-direction: row;
}

.float-right {
  margin-left: 100px;
  display: flex;
  flex-direction: row;
}

.thick-divider {
  border-width: 4px;
}

.align_center {
  align-content: center;
}

.sand-border {
  border-style: solid;
  border-width: 3px;
}

.medium-border {
  border-style: solid;
  border-width: 2px;
}


.btn:disabled,
.btn[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.btn-primary {
  background-color: #75bde0;
  border-color: #75bde0;
  --bs-btn-hover-bg: #3b7097;
  --bs-btn-hover-border-color: #3b7097;
  --bs-btn-active-bg: #3b7097;
  --bs-btn-active-border-color: #3b7097;
  font-size: 25px;
  border-radius: 10px;
  margin: 8px;
}

.turtle-img {
  filter: invert(97%) sepia(94%) saturate(365%) hue-rotate(42deg) brightness(76%) contrast(84%);
}

.form-check-input:checked {
  background-color: #a9d09e;
  border-color: #a9d09e;
}

.form-label {
  font-size: 20px;
}

.form-control {
  font-size: 20px;
}

.form-check-label {
  font-size: 20px;
  margin-left: 5px;
}

.custom-check-boxes {
  width: 25px;
  height: 25px;
  margin: 2px;
}

.form-group {
  margin-top: 6px;
}

.form-check {
  margin-top: 6px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}